.dropContainer {
  min-height: min-content;
  width: 100%;
  background-image: url('../../../../assets/images/navdrop.png');
  color: white;
  background-size: cover;
  position: relative;
  animation: dropDown 500ms ease-in-out forwards;
}

@keyframes dropDown {
  0% {
    z-index: 0;
    top: -50px;
  }
  100% {
    z-index: 2;
    top: 0;
  }
}
