.link:hover {
  text-decoration: underline;
}

.animatedContent {
  position: relative;
  animation: rise-up 500ms ease-in-out forwards;
  opacity: 0;
}

@keyframes rise-up {
  0% {
    top: 25px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
