:root {
  /* Shades */
  /* Light theme */
  --background-color: #f5f5f7;
  --text-color: #1d1d1f;
  --header-background-color: rgba(0, 0, 0, 0.8);
  --search-bar-background-color: #3c3c3d;
  --updates-background-color: #0071e3;
  --local-nav-background-color: rgba(29, 29, 31, 0.9);
}
