.card {
  background: linear-gradient(to bottom, #061420 0%, #151516 100%);
  color: white !important;
  border-radius: 25px !important;
  overflow: hidden;
}

.button {
  background-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-radius: 100px;
  padding: 9px 17px;
  white-space: normal;
}

.image {
  content: url('https://www.apple.com/v/macbook-air/k/images/overview/machine_learning__d8u6dxf5xawm_medium.png');
}

@media screen and (max-width: 768px) {
  .bigHeader {
    font-size: 60px;
  }
}

@media screen and (max-width: 426px) {
  .image {
    content: url('https://www.apple.com/v/macbook-air/k/images/overview/machine_learning__d8u6dxf5xawm_small.png');
  }
  .button {
    font-size: medium;
  }
}
