.card1 {
  background: linear-gradient(to bottom, #203025 0%, #151516 100%);
  color: white !important;
  border-radius: 25px !important;
  overflow: hidden;
  height: 100%;
}

.card2 {
  background: linear-gradient(225deg, #1623a6 0%, #3343d4 29%, #175eac 73%, #176682 100%);
  color: white !important;
  border-radius: 25px !important;
  overflow: hidden;
  height: 100%;
}

.bigHeader {
  font-size: 60px;
  line-height: 1.05;
  font-family: 'SF Pro Display Heavy';
}

.button {
  background-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-radius: 100px;
  padding: 9px 17px;
  white-space: normal;
}

@media screen and (max-width: 768px) {
  .bigHeader {
    font-size: 40px;
  }
}

@media screen and (max-width: 426px) {
  .button {
    font-size: medium;
  }
}
