body {
  margin: 0;
  font-size: 17px;
  background-color: var(--background-color);
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: 'SF Pro Text Regular', 'SF Pro Icons Regular', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
