a {
  text-decoration: none;
}

body {
  margin: 0;
  font-size: 17px;
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: 'SF Pro Text Regular', 'SF Pro Icons Regular', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  background-color: #f8f8f8;
  color: #1d1d1f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
