.cardTitle {
  padding: 8px 0px;
  font-family: 'SF Pro Display Heavy';
}

.cardContent {
  font-family: 'SF Pro Text Regular';
}

.tags {
  margin-right: 5px;
  padding: 2px 10px;
  color: #0071e3;
  background-color: #d9e6f3;
  border-radius: 4px;
}
